<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: "text-decoration-none" do %>
      <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.picture_URL %>)">
      <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>



